.drum {
  position: relative;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #202427;
  min-height: 100vh;
  padding: 64px;
  padding-top: 64px;
}
header {
  .eODRBF {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    box-sizing: border-box;
    .cdWhJh {
      margin-bottom: 32px;
      display: flex;
      align-items: center;
      box-sizing: border-box;
      .gXeAGY {
        color: #606469;
        font-size: 1em;
        font-weight: 600;
        margin-left: 1.5em;
        line-height: 1.2em;
        margin-top: 0.5em;
        max-width: 4em;
      }
    }
  }
}
main {
  .kIxuhI {
    margin-top: 8px;
    box-sizing: border-box;
    outline: none;
  }
  .bgPhku {
    background-color: #404449;
    padding: 4px;
    border-radius: 0px;
    width: 100%;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    display: flex;
    align-items: stretch;
    box-sizing: border-box;
    outline: none;
  }
  .cAVscE {
    background-color: #606469;
    margin-right: 8px;
    padding: 8px;
    border-radius: 0.25rem;
    width: 16rem;
    display: flex;
    position: relative;
    align-items: center;
    box-sizing: border-box;
  }
  .fhqfxo {
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    box-sizing: border-box;
  }
  .fFLvkv {
    color: white;
    font-weight: normal;
    font-size: 14px;
    margin: 0px;
    padding: 0px;
    text-align: left;
    line-height: 1em;
    display: block;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .dVeQAz {
    margin-left: 8px;
    width: 1.2rem;
    height: 100%;
    flex-direction: column;
    display: flex;
    justify-content: space-around;
    box-sizing: border-box;
  }
  .czQdjD {
    background-color: rgba(255, 224, 71, 0.3);
    width: 5px;
    border: none;
    border-radius: 0.25rem;
    font-weight: bold;
    width: 5px;
    touch-action: manipulation;
    width: 0.8rem;
    height: 0.8rem;
    padding: 0;
    border-radius: 100%;
    -webkit-transition: all 0.1s;
    transition: all 0.1s;
  }
  .ceWGXB {
    background-color: rgba(244, 83, 58, 0.3);
    width: 5px;
    border: none;
    border-radius: 0.25rem;
    font-weight: bold;
    width: 5px;
    touch-action: manipulation;
    width: 0.8rem;
    height: 0.8rem;
    padding: 0;
    border-radius: 100%;
    -webkit-transition: all 0.1s;
    transition: all 0.1s;
  }
  .bROAlo {
    background-color: #c0c3c7;
    width: 40px;
    height: 40px;
    margin-left: 8px;
    padding: 0px;
    border: none;
    border-radius: 0.25rem;
    font-weight: bold;
    width: 40px;
    height: 40px;
    min-width: 40px;
    touch-action: manipulation;
    transition: all 0.1s;
    cursor: pointer;
  }
  .bROAlo:active {
    background-color: #fff;
  }
  .dyhPdq {
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    box-sizing: border-box;
  }
  .fSovJh {
    background-color: black;
    margin-right: 8px;
    padding: 8px;
    border-radius: 3em;
    flex: 1 1 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
  }
  .lbQEen {
    padding: 0px;
    width: 18px;
    height: 18px;
    border: none;
    border-radius: 100%;
    padding: 0;
    outline: none;
    -webkit-transition: background-color 0.1s;
    transition: background-color 0.1s;
    position: relative;
    background: #404449;
  }
  .ckpUcZ {
    background-color: white;
    border-radius: 100%;
    width: 100%;
    height: 100%;
    opacity: 0;
    position: absolute;
    left: 0px;
    top: 0px;
    box-sizing: border-box;
  }
  .jRzLKV {
    padding: 0px;
    width: 18px;
    height: 18px;
    border: none;
    border-radius: 100%;
    padding: 0;
    outline: none;
    -webkit-transition: background-color 0.1s;
    transition: background-color 0.1s;
    position: relative;
    background: linear-gradient(
      180deg,
      rgba(213, 255, 169, 1) 0%,
      rgba(152, 255, 193, 1) 100%
    );
  }
  .lglvtz {
    color: #909599;
    background-color: transparent;
    width: 20px;
    height: 20px;
    padding: 0px;
    border: none;
    border-radius: 3em;
    font-weight: bold;
    font-size: 24px;
    align-self: center;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: middle;
    justify-content: center;
    touch-action: manipulation;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
  }
  .lglvtz:hover {
    color: #f2f2f8;
    background-color: #404449;
  }
  .kdJvxK {
    color: #909599;
    background-color: #404449;
    width: 16rem;
    margin-left: 4px;
    margin-top: 8px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border: none;
    border-radius: 0.25rem;
    font-weight: bold;
    width: 16rem;
    touch-action: manipulation;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
  }
  .kdJvxK:hover {
    color: #f2f2f8;
    background-color: #606469;
  }

  /****************/
  .eGhnou {
    background-color: #40444940;
    padding-top: 8px;
    // position: sticky;
    top: 0;
    z-index: 10;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 2px solid #dbdfe324;
    padding: 20px;
    border-radius: 10px;
  }
  .bxEFbu {
    height: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    box-sizing: border-box;
  }
  .RLpEp {
    margin-right: 8px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    box-sizing: border-box;
  }
  .jYLOyl {
    margin-right: 8px;
    box-sizing: border-box;
  }
  .jOEbCR {
    width: 5px;
    border: none;
    border-radius: 0.25rem;
    font-weight: bold;
    width: 5px;
    touch-action: manipulation;
    color: white;
    background-color: #58a291;
    box-shadow: 0 0.3em #1b806d;
    transition: box-shadow 0.2s, transform 0.2s;
    text-transform: uppercase;
    height: calc(100% - 4px);
    margin-bottom: 1px;
    width: 8rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  .jOEbCR.end {
    background-color: #cd545b;
    box-shadow: 0 0.3em #633231;
  }
  .fipIDk {
    font-size: 13px;
    margin: 0px;
    margin-right: 8px;
    padding: 0px;
    line-height: 1em;
    display: block;
  }
  .dzByyx {
    border: 2px solid;
    border-color: #606469;
    border-radius: 0.5rem;
    display: flex;
    position: relative;
    box-sizing: border-box;
    background: linear-gradient(
      190deg,
      #19191d 0%,
      #303036 50%,
      #0a0e0a 51%,
      #29292d 100%
    );
    -webkit-transition: border-color 0.2s;
    transition: border-color 0.2s;
  }
  .evxBqc {
    color: #909599;
    background-color: #202427;
    font-weight: 600;
    font-size: 0.6rem;
    margin: 0px;
    padding: 0px;
    padding-left: 4px;
    padding-right: 4px;
    position: absolute;
    left: 0.5rem;
    top: -0.6em;
    -webkit-letter-spacing: 0.1em;
    -moz-letter-spacing: 0.1em;
    -ms-letter-spacing: 0.1em;
    letter-spacing: 0.1em;
    display: block;
    line-height: 1em;
  }
  .jKWWsk {
    color: #f4533a;
    background-color: transparent;
    font-weight: 500;
    font-size: 1.5rem;
    margin: 0px;
    padding: 0px;
    /* padding-left: 0.7rem; */
    position: relative;
    z-index: 1;
    width: 4rem;
    height: 100%;
    display: block;
    border: none;
    text-align: center;
  }
  .cgIxDq {
    flex-direction: column;
    display: flex;
    box-sizing: border-box;
  }
  .gIHvml {
    color: white;
    background-color: transparent;
    width: 2rem;
    padding: 0px;
    border: none;
    border-radius: 0 0.5rem 0 0;
    font-weight: bold;
    width: 2rem;
    flex: auto;
    touch-action: manipulation;
    cursor: pointer;
  }
  .eQbaHM {
    color: white;
    background-color: transparent;
    width: 2rem;
    padding: 0px;
    border: none;
    border-radius: 0 0 0.5rem 0;
    font-weight: bold;
    width: 2rem;
    flex: auto;
    touch-action: manipulation;
    cursor: pointer;
  }
  .zReSj {
    display: flex;
    box-sizing: border-box;
  }
  .eOAkuI {
    padding: 8px;
    border: 2px solid;
    border-color: #606469;
    border-radius: 0.5rem;
    display: flex;
    position: relative;
    align-items: center;
    box-sizing: border-box;
    -webkit-transition: border-color 0.2s;
    transition: border-color 0.2s;
  }
  .DBJA {
    color: #909599;
    background-color: #202427;
    font-weight: 600;
    font-size: 0.6rem;
    margin: 0px;
    padding: 0px;
    padding-left: 4px;
    padding-right: 4px;
    position: absolute;
    left: 0.5rem;
    top: -0.6em;
    letter-spacing: 0.1em;
    border-radius: 3px;
    line-height: 1em;
    display: block;
  }
  .frdVxq {
    color: rgba(0, 0, 0, 0.5);
    background-color: rgba(213, 255, 169, 1);
    width: 1.3rem;
    height: 1.3rem;
    margin-left: 1px;
    margin-right: 1px;
    margin-top: 1px;
    padding: 0px;
    border: none;
    border-radius: 2px;
    font-weight: 500;
    font-size: 0.7em;
    width: 1.3rem;
    height: 1.3rem;
    touch-action: manipulation;
    -webkit-transition: all 0.1s;
    transition: all 0.1s;
    cursor: pointer;
  }
  .wxLcD {
    color: rgba(0, 0, 0, 0.5);
    background-color: #c0c3c7;
    width: 1.3rem;
    height: 1.3rem;
    margin-left: 1px;
    margin-right: 1px;
    margin-top: 1px;
    padding: 0px;
    border: none;
    border-radius: 2px;
    font-weight: 500;
    font-size: 0.7em;
    width: 1.3rem;
    height: 1.3rem;
    touch-action: manipulation;
    -webkit-transition: all 0.1s;
    transition: all 0.1s;
    cursor: pointer;
  }
  .laXAjl {
    margin-left: 8px;
    width: 15rem;
    box-sizing: border-box;
  }
  .ikzynU {
    height: 100%;
    position: relative;
    box-sizing: border-box;
  }
  .cmDKMX {
    color: #909599;
    background-color: #202427;
    font-weight: 600;
    font-size: 0.6rem;
    margin: 0px;
    padding: 0px;
    padding-left: 4px;
    padding-right: 4px;
    position: absolute;
    left: 0.5rem;
    top: -0.6em;
    letter-spacing: 0.1em;
    z-index: 1;
    border-radius: 3px;
    line-height: 1em;
    display: block;
  }
  .css-q8s0vy-container {
    position: relative;
    box-sizing: border-box;
    height: 100%;
  }
  .css-1c6wfmt-control {
    align-items: center;
    background-color: black;
    border-color: hsl(0, 0%, 80%);
    border-radius: 0.5em;
    border-style: solid;
    border-width: 1px;
    cursor: default;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    min-height: 38px;
    outline: 0 !important;
    position: relative;
    -webkit-transition: all 100ms;
    transition: all 100ms;
    box-sizing: border-box;
    border: 2px solid #606469;
    height: 100%;
  }
  .css-1hwfws3 {
    align-items: center;
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    padding: 2px 8px;
    -webkit-overflow-scrolling: touch;
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
  }
  .css-b0erng-singleValue {
    color: #f2f2f8;
    margin-left: 2px;
    margin-right: 2px;
    max-width: calc(100% - 8px);
    overflow: hidden;
    position: absolute;
    text-overflow: ellipsis;
    white-space: nowrap;
    top: 50%;
    transform: translateY(-50%);
    box-sizing: border-box;
  }
  .css-gj7qu5-dummyInput {
    background: 0;
    border: 0;
    font-size: inherit;
    outline: 0;
    padding: 0;
    width: 1px;
    color: transparent;
    left: -100px;
    opacity: 0;
    position: relative;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }
  .css-1wy0on6 {
    align-items: center;
    align-self: stretch;
    display: flex;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    box-sizing: border-box;
    cursor: pointer;
  }
  .css-bgvzuu-indicatorSeparator {
    align-self: stretch;
    background-color: hsl(0, 0%, 80%);
    margin-bottom: 8px;
    margin-top: 8px;
    width: 1px;
    box-sizing: border-box;
  }
  .css-16pqwjk-indicatorContainer {
    color: hsl(0, 0%, 80%);
    display: flex;
    padding: 8px;
    -webkit-transition: color 150ms;
    transition: color 150ms;
    box-sizing: border-box;
  }
  .css-19bqh2r {
    display: inline-block;
    fill: currentColor;
    line-height: 1;
    stroke: currentColor;
    stroke-width: 0;
  }
  .dxfXcK {
    background-color: #fff;
    width: 100%;
    display: flex;
    align-items: center;
    left: 0px;
    top: 0px;
    border-radius: 5px;
    box-sizing: border-box;
    margin-top: 5px;
    position: relative;
    z-index: 999;
  }
  .dxfXcKNone {
    display: none;
  }
  .jPTXJB {
    color: #000;
    line-height: 40px;
    cursor: pointer;
    padding-left: 20px;
  }
  .jPTXJB:hover {
    background: #d8e1e7;
  }
  .jPTXJB.active {
    background: #108ee3;
    color: #fff;
  }
  .bvLXGI {
    padding: 20px 0;
    width: 100%;
  }
  .jKNSgD {
    margin-top: 16px;
    display: flex;
    box-sizing: border-box;
    align-items: center;
    background-color: rgb(64, 68, 73);
    height: 30px;
    width: fit-content;
    margin-bottom: 16px;
  }
  .jkaEgP {
    display: flex;
    box-sizing: border-box;
    width: 200px;
    background-color: black;
    height: 30px;
    align-items: center;
  }
  .jkdwEk {
    margin-right: 8px;
    padding: 4px;
    flex: 1 1 auto;
    box-sizing: border-box;
  }
  .cYSnRy {
    color: white;
    font-weight: 700;
    font-size: 0.7rem;
    margin: 0px;
    padding: 0px;
    text-align: left;
    line-height: 1em;
    display: block;
    text-transform: uppercase;
  }
  .eAnnxY {
    margin-right: 8px;
    padding: 4px;
    width: 30px;
    box-sizing: border-box;
  }
  .VkIKe {
    color: white;
    font-weight: 700;
    font-size: 0.7rem;
    margin: 0px;
    padding: 0px;
    text-align: center;
    line-height: 1em;
    display: block;
    text-transform: uppercase;
  }
  .bybaGt {
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
  }
  .jmROyB {
    width: 100%;
    display: flex;
    position: absolute;
    box-sizing: border-box;
  }
  .eiQobP {
    padding: 4px;
    flex: 1 1 auto;
    box-sizing: border-box;
  }
  .cYSnRy {
    color: white;
    font-weight: 700;
    font-size: 0.7rem;
    margin: 0px;
    padding: 0px;
    text-align: left;
    line-height: 1em;
    display: block;
    text-transform: uppercase;
  }
  /**old*/
  .trackcontainer {
    color: #fff;
    font-size: 12px;
    font-family: "Avenir", Helvetica, Arial, sans-serif;
    margin: 30px 0 0 0;
    // opacity:.9;
    // width: fit-content;
    display: flex;
    .track_flex {
      // display: flex;
      display: -webkit-box;
      margin-bottom: 5px;
      margin-top: 5px;
      background: #404449;
      padding: 5px;
      align-items: center;
      height: 65px;
    }
    .track-name {
      display: flex;
      line-height: 50px;
      width: 180px;
      vertical-align: top;
    }

    .block {
      // display: inline-block;
      vertical-align: top;
      width: 30px;
      height: 30px;
      padding: 0px;
      margin: 5px;
      border-radius: 30px;
      // text-align:center;
      // @media (max-width: 1000px) {
      //   width: 30px;
      //   height: 30px;
      //   margin: 3px;
      // }
      // @media (max-width: 600px) {
      //   width: 16px;
      //   height: 16px;
      //   margin: 3px;
      // }
      &.bigNode {
        width: 60px !important;
        height: 60px !important;
      }
      &.bigNode2 {
        width: 50px !important;
        height: 50px !important;
      }
      &.bigNode3 {
        width: 40px !important;
        height: 40px !important;
      }
    }
    .blockOpacity {
      opacity: 0.65;
    }
    // .bigNode {
    //   width: 60px;
    //   height: 60px;
    // }
    .ticker {
      display: inline-block;
      width: 40.1px;
      height: 16px;
      text-align: center;
      // background-color: #ddd;
      // @media (max-width: 1000px) {
      //   width: 30px;
      //   margin: 0px 3px;
      // }
      // @media (max-width: 600px) {
      //   width: 16px;
      //   margin: 0px 3px;
      // }
      &.active {
        background-color: #65b1a9;
      }
    }
    .trackNodeName {
      width: 200px;
    }
    .trackNodeList {
      overflow-x: auto;
      width: 100%;
      .track {
        width: fit-content;
      }
    }
    // .trackNodeList::-webkit-scrollbar {
    //   display: none;
    // }
    .listInfo {
      width: fit-content;
    }
  }
  .active {
    &.playsound {
      opacity: 1 !important;
      box-shadow: 0px 0px 4px 4px #ebe5e559;
    }
  }
  .playsound {
    background: radial-gradient(
      ellipse at center,
      rgba(255, 255, 255, 0.6) 0%,
      transparent 100%
    );
  }
  .container {
    width: 100%;
    height: 100%;
  }
  .slidecontainer {
    position: absolute;
    width: 100%;
    text-align: center;
    z-index: 3;
    margin: 30px 0px 0px 0px;

    .bpm {
      color: #fff;
      text-align: center;
      font-size: 10px;
      font-family: "Avenir", Helvetica, Arial, sans-serif;
    }
  }

  .buttoncontainer {
    width: 100%;
    text-align: center;

    .note {
      display: inline-block;
      width: 34px;
      height: 34px;
      padding: 5px;
      margin: 0 8px;
      background-size: 70%;
      background-color: #fff;
      border: 3px solid #fff;
      opacity: 0.75;
      background-repeat: no-repeat;
      background-position: center;
      border-radius: 50%;

      &.activenote {
        border: 3px dashed hsl(290, 100%, 50%);
      }
    }
    .quarter {
      background-image: url("/img/quarternote.png");
    }
    .eight {
      background-image: url("/img/eightnote.png");
    }
    .sixteenth {
      background-image: url("/img/sixteenthnote.png");
    }

    .startstop {
      margin: 0 8px;
      display: inline-block;
      color: #fff;
      bottom: 60px;
      font-size: 12px;
      font-family: "Avenir", Helvetica, Arial, sans-serif;
    }
  }
  .credits {
    position: absolute;
    z-index: 4;
    color: #fff;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 12px;
    font-family: "Avenir", Helvetica, Arial, sans-serif;
    a {
      color: #fff;
      font-size: 12px;
      text-decoration: none;
      &:hover {
        color: #cc3300;
      }
    }

    img {
      display: inline-block;
      transform: translateY(2px);
      width: 12px;
      height: 12px;
    }
  }

  .loader {
    position: absolute;
    z-index: 4;
    color: #fff;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 12px;
    font-family: "Avenir", Helvetica, Arial, sans-serif;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 5px;
  }
  /**old*/
}

@media screen and (min-width: 640px) {
  drum {
    padding: 0px;
    padding-top: 32px;
  }
  main {
    .cAVscE {
      margin-right: 8px;
    }
    .fSovJh {
      margin-right: 8px;
      padding: 8px;
    }
    .lbQEen {
      width: 18px;
      height: 18px;
    }
    .jRzLKV {
      width: 18px;
      height: 18px;
    }
    .lglvtz {
      width: 20px;
      height: 20px;
    }
  }
}
@media screen and (min-width: 720px) {
  drum {
    padding: 0px;
    padding-top: 32px;
  }
  main {
    .cAVscE {
      margin-right: 8px;
    }
    .fSovJh {
      margin-right: 8px;
      padding: 8px;
    }
    .lbQEen {
      width: 18px;
      height: 18px;
    }
    .jRzLKV {
      width: 18px;
      height: 18px;
    }
    .lglvtz {
      width: 30px;
      height: 30px;
    }
  }
}
@media screen and (min-width: 769px) {
  drum {
    padding: 4px;
    padding-top: 32px;
  }
  main {
    .cAVscE {
      margin-right: 16px;
    }
    .fSovJh {
      margin-right: 8px;
      padding: 8px;
    }
    .lbQEen {
      width: 18px;
      height: 18px;
    }
    .jRzLKV {
      width: 18px;
      height: 18px;
    }
    .lglvtz {
      width: 30px;
      height: 30px;
    }
  }
}
@media screen and (min-width: 820px) {
  drum {
    padding: 8px;
    padding-top: 32px;
  }
  main {
    .cAVscE {
      margin-right: 32px;
    }
    .fSovJh {
      margin-right: 8px;
      padding: 8px;
    }
    .lbQEen {
      width: 18px;
      height: 18px;
    }
    .jRzLKV {
      width: 18px;
      height: 18px;
    }
    .lglvtz {
      width: 40px;
      height: 40px;
    }
  }
}
@media screen and (min-width: 900px) {
  drum {
    padding: 8px;
    padding-top: 32px;
  }
  main {
    .fSovJh {
      margin-right: 16px;
      padding: 16px;
    }
    .lbQEen {
      width: 20px;
      height: 20px;
    }
    .jRzLKV {
      width: 20px;
      height: 20px;
    }
  }
}
@media screen and (min-width: 1024px) {
  drum {
    padding: 8px;
    padding-top: 32px;
  }
  main {
    .lbQEen {
      width: 24px;
      height: 24px;
    }
    .jRzLKV {
      width: 24px;
      height: 24px;
    }
  }
}
@media screen and (min-width: 1200px) {
  drum {
    padding: 16px;
    padding-top: 32px;
  }
  main {
    .lbQEen {
      width: 26px;
      height: 26px;
    }
    .jRzLKV {
      width: 26px;
      height: 26px;
    }
  }
}
@media screen and (min-width: 1400px) {
  drum {
    padding: 64px;
    padding-top: 64px;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input[type="number"] {
  -moz-appearance: textfield;
}

.dataSubmit {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  cursor: pointer;
}
.dataSubmit div {
  background: linear-gradient(rgb(213, 255, 169) 0%, rgb(152, 255, 193) 100%);
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: bold;
}
